{% extends "network/layout.html" %}

{% block body %}
<div id='home'>
    <form id="new-post">
        {% csrf_token %}
        <div>
            <label for="newpost-textarea">New Post</label>
            <input type='text' class="form-control new-post-input" id="newpost-textarea" autocomplete="off">
            <input id='submit-new-post' class="btn btn-primary" type='submit' value='Post'>
        </div>
    </form>
    <h1>All Posts</h1>
    <div id="all-posts">

    </div>
</div>

<div id="profile">
    
</div>
    
{% endblock %}