{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    TODO
    <!-- for listing in listings -->
    {% for listing in listings %}
        <article>
            <h2>{{ listing.title }}</h2>
            <p>Starting Bid <span class="success-text">{{ listing.starting_bid }}</span></p>
            {% if listing.bid == None %}
                <p>Current Bid: <span class="fail-text">No bids made</span></p>
            {% else %}
                <p>Current Bid: {{ listing.bid }}</p>
            {% endif %}
            <p>{{ listing.description }}</p>

            <div class="listing-image">
                <img class="listing-image__image" src="{{ listing.image }}">
            </div>

        </article>
    {% endfor %}

    <!-- display the title, description, current price, and picture (if any) -->
{% endblock %}