{% extends "auctions/layout.html" %}

{% block body %}

{% if category %}
    <h3>Category: {{ category }}</h3>
{% else %}
    <h2>Active Listings</h2>
{% endif %}
    
    <!-- for listing in listings -->
    {% for listing in listings %}
    <a style="display: block; color: inherit; text-decoration: none;" href="{% url 'listing' listing.id %}">
        {% if listing.active == True %}    
            <article class="listing">
                <h2>{{ listing.title }}</h2>

                <div class="listing-image__container">
                    <img class="listing-image__image" src="{{ listing.image }}">
                </div>

                <p>Starting Bid: <span class="success-text">$ {{ listing.starting_bid }}</span></p>
                {% if listing.bid == None %}
                    <p>Current Bid: <span class="fail-text">No bids made</span></p>
                {% else %}
                    <p>Current Bid: <span class="success-text">$ {{ listing.bid.value }}</span></p>
                {% endif %}
                <h4>Description</h4>
                <p>{{ listing.description }}</p>

            </article>
        {% endif %}
    </a>
    {% endfor %}

    {% if show_closed %}

    {% for listing in listings %}
    <a style="display: block; color: inherit; text-decoration: none;" href="{% url 'listing' listing.id %}">
        {% if listing.active == False %}    
            <article class="listing deactivated">
                <h2>{{ listing.title }}</h2>

                <div class="listing-image__container">
                    <img class="listing-image__image" src="{{ listing.image }}">
                </div>

                <p>Starting Bid: <span class="success-text">$ {{ listing.starting_bid }}</span></p>
                {% if listing.bid == None %}
                    <p>Current Bid: <span class="fail-text">No bids made</span></p>
                {% else %}
                    <p>Current Bid: <span class="success-text">$ {{ listing.bid.value }}</span></p>
                {% endif %}
                <h4>Description</h4>
                <p>{{ listing.description }}</p>

            </article>
        {% endif %}
    </a>
    {% endfor %}

    {% endif %}

    <!-- display the title, description, current price, and picture (if any) -->
{% endblock %}