{% extends 'auctions/layout.html' %}

{% block body %}
<article class="listing">
    <h2> {{ listing.title }}</h2>
    <p>Listing posted by: {{listing.user}}</p>
    <p>Category: <a>{{ listing.category }}</a></p>

    {% if listing.active == True %}
        <p>Status: <span class="success-text">Active</span></p>
    {% else %}
        <p>Status: <span class="fail-text">Closed</span></p>
    {% endif %}
    <div class="listing-image__container">
        <img class="listing-image__image" src="{{ listing.image }}">
    </div>
    
    <p>Starting Bid: <span class="success-text">$ {{ listing.starting_bid }}</span></p>
    {% if listing.bid == None %}
        <p>Current Bid: <span class="fail-text">No Bids</span></p>
    {% else %}
        <p>Current Bid: <span class="success-text">$ {{ listing.bid }}</span></p>
    {% endif %}

    {% if listing.user == request.user %}
        <p>You posted this! - Add a close listing button</p>
    {% else %}
    <form action="{% url 'bid' %}" method="post"> 
        {% csrf_token %}
        <p><strong>Your bid: $</strong>{{ bid_form }}</p>
        <input type="submit" value="Bid">

    </form>
    {% endif %}
        
    {% if in_list %}
        <form method="post" action="{% url 'remove_from_watchlist' %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Remove from watchlist">
        </form>


    {% else %}

    <form action="{% url 'watchlist' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <!-- <input type="number" value="{{ listing.id }}"> -->
        <input type="submit" value="Add to watchlist">
    </form>
    {% endif %}
    
    

    <h3>Description</h3>
    <p>{{ listing.description }}</p>
</article>
{% endblock %}