$noteWidth: 12px;

* {
    box-sizing: border-box;
}

.container {
    width: 20%;
    min-width: min-content;
    height: 6.58%;
    margin: 10rem auto;
    display: flex;
    // position: relative;
}

.bar {
    min-width: $noteWidth * 32;
    // border: red solid 2px;
    display: flex;
    position: relative;
    // transform: translateX(-100px);
}
.bar-line {
    min-width: $noteWidth * 32;
    outline: black solid 2px;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;

    transform: translateX(-13px) translateY(24px);;
}
.beat {
    position: relative;
    display: flex;
    flex-grow: 1;
    // border: 2px solid rgb(7, 158, 33);
}

.sub-beat {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    // border: 2px solid rgb(167, 24, 48);
}

.stave-line {
    height: 0rem;
    width: 100%;
    top: 5rem;
    border-top: 2px black solid;
}

.note {
    display: inline-block;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    width: $noteWidth;
    max-width: $noteWidth;
    overflow: visible;
    position: relative;
}

.head {
    display: inline-block;
    height: 18%;
    width: 115%;
    border-radius: 100%;
    background-color: black;
    transform-origin: center;
    transform: rotateZ(-45deg) translate(-$noteWidth, -2PX);
    position: absolute;
}

.eighthRest {
    // position: absolute;
    width: 100%;
    transform: translate(-10px, 35px);
    // display: none;
    content: url('images/eighthRest.png');
}

.sixteenthRest {
    width: 100%;
    transform: translate(-10px, 35px);
    // display: none;
    content: url('images/sixteenthRest.png');
}
.stem {
    width: 4px;
    height: 60px;
    background-color: black;
    position: relative;
}

.top-beam {
    width: 89%;
    border-top: 8px black solid;
    position: absolute;
    left: 2%;
    // transform: translateX($noteWidthItem * 2);
}

.middle-beam {
    width: 89%;
    border-top: 8px black solid;
    position: absolute;
    top: $noteWidth + 1;
    left: 2%;
}

.bottom-beam {
    width: 75%;
    border-top: 8px black solid;
    position: absolute;
    top: 30px;
    left: 7%;
}