a {
    float: right;
    margin: 0.5em;
}

#logo-wrap{
	width: 272px;
	height: 200px;
	position: relative;
    margin: 0px auto 38px;
}


#logo{
    background-image: url(google_logo.svg);
    width: 272px;
    height: 92px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
}

#inputWrapper {
    height: 100%;
    position: relative;
    width: 50%;
    margin: 0.5em auto;
    border: solid 0.25px black;
    border-radius: 1.5em;
    box-shadow: 2px 2px 2px gray;

}

#input {
    background-color: var(--search-box-bg, white);
    border: none;
    color: gray;
    font-family: Roboto, system-ui, sans-serif;
    font-size: 81.25%;
    height: 100%;
    outline: none;
    margin: 0.75em;
    position: relative;
    width: 50%;
}

#button-wrap{
    display: inline-block; 
    margin: auto;
    text-align: center;
    position: relative;
}

#button{
    display: inline-block;
    margin: 1em auto;
}

#adv-button{
    display: inline-block;
    margin: 1em auto;
    background-color: #2f5bb7;
    color: white;
}


#centered{
    display: block;
    text-align: center;

}
