$font-stack: 'montserrat', sans-serif;
$standard-padding: 1rem;
$standard-margin : 0.5rem;
$red: rgb(198, 73, 73);

#posts {
    padding: 1rem;
}

.new-post-input {
    border: rgba(0, 0, 0, 0.233) 1px solid;
    padding: $standard-padding;
}

.post {
    border: rgb(59, 59, 59) 1px solid;
    padding: $standard-padding;
    margin-bottom: $standard-margin;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.post-username {
    font: 700 1rem $font-stack;
    color: $red;
    margin: $standard-margin;
    display: inline-block;
    cursor: pointer;
}

.post-content {
    min-height: 6rem;
    border: rgb(54, 54, 54) 1px solid;
    border-radius: 8px;
    background-color: rgb(49, 49, 49);
    color: white;
    padding: $standard-padding;
    margin: $standard-margin;
    white-space: pre;
}

.post-created {
    font: 400 0.75rem $font-stack;
    color: $red;
}

.post-likes {
    align-self: flex-end;
    margin: 0 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
}

.deactivated {
    color: rgb(167, 167, 167) !important;
    background-color: rgba(207, 207, 207, 0.349) !important;
}

.selected-page {
    color: white;
    background-color: #0056b3;
}

.being_edited {
    border: hotpink 3px solid;
}