{% extends 'drum_exercises/layout.html'%}
{% block body %}


<div class="container">

    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="bottom-beam"></div>


        <div class="sub-beat">
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>

        <div class="sub-beat">
            
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>


    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div><div class="bottom-beam"></div>
        <div class="sub-beat">
            
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>

    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>

    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>


    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>


    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>

    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>

    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>




    <!-- <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>


    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>

    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>

    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>




    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>


    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>

    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>

    <div class="beat">
        <div class="top-beam"></div>
        <div class="middle-beam"></div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
        <div class="sub-beat">
            <div class="bottom-beam"></div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
            <div class="note">
                <div class="head"></div>
                <div class="stem"></div>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}